body {
	margin: 0; /*remove default margin*/
 	font-family: "Open Sans", sans-serif !important;
 	font-weight: 400;
 	color: #222324;
 	background: #F2F2F2;
}

a {

}

a:hover {

}

h1 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0.5em
}

h2 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.1em
}

h3 {

}

p {
	text-align: justify;

}

#wrapper {

	width: 100%;
	height: 100%;
	position: absolute;
	display: block;

	background: white;
}

	#hero,
	#subhero,
	#footer,
	.altlight,
	.altdark {
	display: block;
	clear: both;
	padding: 2em 10% 2em 10%;
	margin: 0 15em 0 0;
	width: 100%;
	background: white;
	margin: 0;
	box-sizing: border-box;
}

#hero {
	background: #0969A2;
	color: white;
	padding: 4em 10% 4em 10%;
}

#hero h1 {
	font-size: 3em;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align:center;
}

#hero h2 {
	font-size: 1.5em;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

#subhero {
	background: #3D9AD1;
	color: white;
	padding: 0 0 .5em 0;
}

.altlight {
	background: white;
}

.altdark {
	background: #F2F2F2;
}

#footer {
	background: #3D9AD1;
	color: #0969A2;
	font-size: .8em;
}

#footer p {
	margin:0;
}

.button_wrap {
	text-align: center;
}
.button {
	width: 120px;
	margin: 1em;
	padding:.5em .8em .5em .8em;
	border-radius: .5em;
	display:inline-block;
	background: #B9F73E;
}

.button:hover {
	/*background: #9FEE00;*/
	background: #0969A2;
	color: white;
}

.nav {
	float:right;
	background: white;
	font-size: 1.2em;
	font-weight: 600;
	margin: 2.5em .5em 2em 0;
	padding:.5em;
}

.nav:hover {
	color: #0969A2;
}

#last {
	margin-right: 3em;
}

.line {
	margin: 1em 0 1em 0;
	background: white;
	height: .3em;
}

.highlights {
	color: white;
	width: 15%;
	display:inline-block;
	background: red;
	padding: 1.5em .5em .5em .5em;
	margin: 1em .5em 1em .5em;
	border-radius: 10px;
	background: #3D9AD1;
}

.quote {
	background: #B9F73E;
	float:right;
	display:inline-block;
	margin: 1em;
	border-radius:5px;
	padding:0.5em 2em 0.5em 2em;
}

.quote p {
	text-align: left;
	font-size: 2.5em;
	font-weight: 300;
}









